@import "bourbon/bourbon";

/* ==========================================================================
   SCSS Variables & Mixins
   ========================================================================== */

$font-size: 100%;
$primary-font: "Open Sans", sans-serif;
$secondary-font: "Oswald", sans-serif;

$blue: #106db3;
$medium-blue: #2178b8;
$dark-blue: #073452;
$white: white;
$grey: #9fb0bc;
$grey-white: lightgray;
$grey-blue: #a8b7c3;
$lighter-grey: #a3b3bf;
$dark-grey: #5e686f;

@mixin image-overlay-fixed($url) {
  background: linear-gradient(RGBA(26, 112, 250, 0.6), RGBA(26, 112, 250, 0.6)), url($url) no-repeat fixed;
}

@mixin image-overlay($url) {
  background: linear-gradient(RGBA(26, 112, 250, 0.6), RGBA(26, 112, 250, 0.6)), url($url);
}

@mixin image-overlay-hover($url) {
  background: linear-gradient(RGBA(26, 112, 250, 0), RGBA(26, 112, 250, 0)), url($url);
}

/* ==========================================================================
   Global CSS Rules
   ========================================================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: $font-size;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

/* ==========================================================================
   Header Area CSS
   ========================================================================== */

header {
  @include image-overlay-fixed("../../img/header.jpg");
  height: 524px;
  background-size: cover;
  overflow: auto;
}

.header_content_area {
  @include margin(0 auto null auto);
  max-width: 1048px;
  position: relative;
  overflow: hidden;
}

.header_nav {
  font-family: $secondary-font;
}

.header_nav a {
  text-decoration: none;
  color: $dark-blue;
}

.header_nav ul {
  margin: 0;
}

.header_nav > li {
  @include position(absolute, 19px null null 828px);
  display: inline;
  font-weight: bold;
}

.header_logo li {
  display: inline;
}

.header_logo img {
  @include position(absolute, 5px null null 15px);
}

.header_logo li:last-child {
  @include position(absolute, 20px null null 81px);
  display: inline-block;
  font-family: $primary-font;
  letter-spacing: -0.03em;
}

.header_nav_links {
  @include position(absolute, 17px 60px null null);
  padding: 0;
  display: inline-block;
}

.header_nav_links img {
  @include position(absolute, 0 -30px null null);
  padding: 0;
  display: inline-block;
}

.header_nav_links li {
  display: inline;
}

.header_nav_links > li:first-child {
  margin: 0 13px 0 0;
  letter-spacing: 0.06em;
}

.header_title a {
  text-decoration: none;
  color: $white;
  margin: 187px 0 0 0;
  display: block;
  font-size: 3.3em;
  text-align: center;
  font-family: $primary-font;
  font-weight: 400;
  letter-spacing: -0.08em;
}

.header_tagline {
  text-align: center;
  margin: -18px 0 0 0;
  letter-spacing: 0.03em;
}

/* ==========================================================================
   Main Content Area CSS (contains some sidebar CSS rules)
   ========================================================================== */

.main_section {
  max-width: 1048px;
  margin: 0 auto;
}

.main_content {
  margin: 70px 0 0 0;
  padding: 0 0 68px 40px;
  max-width: 660px;
  float: left;
  position: absolute;
  color: $dark-grey;
}

.article_heading {
  text-transform: uppercase;
  font-size: 3.7em;
  font-family: $secondary-font;
  font-weight: 500;
  letter-spacing: 1.7px;
  line-height: 1.2;
  position: relative;
  top: -10px;
}

.author_info .author_image_small {
  @include image-overlay("../../img/me.jpg");
  height: 22px;
  width: 22px;
  background-size: cover;
  border-radius: 100%;
  position: relative;
  top: 0;
  left: 5px;
}

.author_info .author_name a {
  text-decoration: none;
  font-family: $secondary-font;
  margin: 0 0 0 8px;
  color: $medium-blue;
  padding-left: 22px;
  font-size: 0.8em;
  font-weight: 400;
  position: relative;
  top: -20px;
  left: 5px;
}

.published_date {
  color: $grey;
  position: relative;
  top: -20px;
  left: 15px;
  font-size: 0.8em;
}

.published_date a {
  color: $grey;
}

.main_content a,
.sidebar_content a {
  color: $lighter-grey;
  transition: all 0.3s;
}

.main_content a:hover,
.sidebar_content a:hover {
  color: $blue;
}

.quote_pipe::before {
  content: "|";
  font-size: 2.5em;
  margin: 0 10px 0 -8px;
  color: $grey-white;
  padding: 0;
  font-weight: 100;
}

.quote_block {
  display: inline;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-size: 1.7em;
  font-weight: 300;
  color: $medium-blue;
  position: relative;
  top: 0;
}

.share_buttons {
  margin: 25px 0 0 0;
  position: relative;
  padding: 0;
}

.share_buttons li {
  display: inline;
  background-color: $lighter-grey;
  margin: 0 10px 0 0;
  padding: 2px 0 7px 0;
  transition: background-color 0.3s;
}

.share_buttons li:hover {
  background-color: $blue;
  cursor: pointer;
}

.share_buttons a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  padding: 0 14px 0 45px;
  position: relative;
}

.share_buttons span a:hover {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  padding: 0 14px 0 45px;
  position: relative;
}

.share_buttons img {
  background-color: $dark-grey;
  height: 31px;
  width: 31px;
  position: absolute;
  top: -5px;
  left: 0;
}

.share_button span a:hover img {
  background-color: $dark-blue;
  height: 31px;
  width: 31px;
  position: absolute;
  top: -5px;
  left: 0;
}

/* ==========================================================================
   Sidebar CSS   
   ========================================================================== */

sidebar {
  float: left;
  margin: 15px 0 160px 720px;
}

.author_sidebar {
  max-width: 320px;
  margin: 70px 0 0 0;
}

.author_image {
  @include image-overlay("../../img/me.jpg");
  height: 84px;
  width: 84px;
  margin: 0 auto;
  background-size: cover;
  border-radius: 100%;
}

.sidebar_content {
  max-width: 320px;
}

.author_sidebar p {
  text-align: center;
  text-transform: uppercase;
  color: $blue;
  margin: 10px 0 10px 0;
}

.author_sidebar ul {
  margin: 0 0 36px 0;
}

.author_sidebar li {
  display: inline;
  margin: 0 18px 0 0px;
  position: relative;
  top: -15px;
  left: 10px;
  font-size: 0.9em;
}

.author_sidebar a {
  text-decoration: none;
  color: $grey-blue;
  font-size: 0.9em;
  transition: color 0.3s;
}

.author_sidebar a:hover {
  color: $blue;
}

.pretty_ad {
  @include image-overlay("../../img/911.jpg");
  height: 300px;
  width: 278px;
  background-size: cover;
  margin: 0 auto;
}

.pretty_ad:hover {
  background: url(../../img/911.jpg) no-repeat;
  height: 300px;
  width: 278px;
  background-size: cover;
  margin: 0 auto;
}

.author_sidebar span a {
  float: right;
  display: inline-block;
  text-decoration: underline;
  position: relative;
  right: 20px;
  top: 5px;
  font-size: 0.8em;
}

.sidebar_content .heading_three {
  margin: 68px 0 0 20px;
  color: $blue;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 1.1em;
  text-transform: uppercase;
}

.sidebar_content p {
  color: $grey-blue;
  margin: 10px 0 0 20px;
  font-size: 0.9em;
  line-height: 1.7;
}

/* ==========================================================================
   Main Footer Area CSS (area with the 4 images)
   ========================================================================== */

.bottom_container {
  border-top: 1px solid #E1E7EA;
}

.bottom_container .heading_two {
  text-align: center;
  color: $blue;
  font-family: $secondary-font;
  font-size: 4em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 40px 0 0 0;
}

.recent_posts_container {
  width: 100%;
  float: left;
  margin: 46px 0 0 0;
}

.one a,
.two a,
.three a,
.four a {
  display: block;
  height: 330px;
  text-decoration: none;
  color: $blue;
  text-transform: uppercase;
  font-size: 2.5em;
  font-family: $secondary-font;
  padding: 0 20px 0 20px;
  transition: all 0.4s;
}

.one span, .two span, .three span, .four span {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.one {
  @include image-overlay("../../img/one.jpg");
  background-size: cover;
  width: 25%;
  display: inline-block;
  float: left;
  height: 330px;
  position: relative;
}

.two {
  @include image-overlay("../../img/two.jpg");
  background-size: cover;
  width: 25%;
  display: inline-block;
  float: left;
  height: 330px;
  position: relative;
}

.three {
  @include image-overlay("../../img/three.jpg");
  background-size: cover;
  width: 25%;
  display: inline-block;
  float: left;
  height: 330px;
  position: relative;
}

.four {
  @include image-overlay("../../img/four.jpg");
  background-size: cover;
  width: 25%;
  display: inline-block;
  float: left;
  height: 330px;
  position: relative;
}

.one:hover {
  @include image-overlay-hover("../../img/one.jpg");
  background-size: cover;
  width: 25%;
  display: inline-block;
  float: left;
  height: 330px;
  color: white;
}

.two:hover {
  @include image-overlay-hover("../../img/two.jpg");
  background-size: cover;
  width: 25%;
  display: inline-block;
  float: left;
  height: 330px;
  color: white;
}

.three:hover {
  @include image-overlay-hover("../../img/three.jpg");
  background-size: cover;
  width: 25%;
  display: inline-block;
  float: left;
  height: 330px;
  color: white;
}

.four:hover {
  @include image-overlay-hover("../../img/four.jpg");
  background-size: cover;
  width: 25%;
  display: inline-block;
  float: left;
  height: 330px;
  color: white;
}

.one a:hover,
.two a:hover,
.three a:hover,
.four a:hover {
  display: block;
  height: 330px;
  color: white;
  padding: 20 0px 20px 0 20px;
}

/* ==========================================================================
   Bottom Footer Bar CSS (area with the nav links)   
   ========================================================================== */

.footer {
  height: 96px;
  background-color: $blue;
}

.footer_container {
  width: 1048px;
  margin: 0 auto;
  position: relative;
  color: $lighter-grey;
}

.footer_container a {
  color: $lighter-grey;
}

.footer_container img {
  float: left;
  margin: 0 0 0 20px;
  position: relative;
  top: 19px;
}

.footer_container p {
  float: left;
  margin: 0;
  position: relative;
  top: 40px;
  left: 5px;
  font-size: 0.9em;
}

.footer_container ul {
  margin: 0;
  float: right;
  position: relative;
  top: 40px;
  font-size: 0.9em;
}

.footer_links a {
  text-decoration: none;
}

.footer_links li:after {
  content: " | ";
}

.footer_links li:last-child:after {
  content: "";
}

.footer_links li {
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
}
